html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #00ffd4;
  font-family: 'Montserrat';
}

.form-signin {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-signin-page {
  background-color: #ffff;
  border-color: #755adc;
  color:  #755adc;
  font-weight: bold;
}
.btn-signin-page:hover {
  background-color: #755adc;
  border-color: #755adc;
  color: #ffff;
}

.cloud-drive-text {
  color: #6d6d6d;
  font-family: 'Poppins';
}

.modal-header button {
  margin-left: 0!important;
}

#signUpMessage {
  color: #dc143c
}