<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CloudDrive</title>

    <link href="{{ url_for('static', filename="bootstrap/css/bootstrap.min.css") }}" rel="stylesheet">
    <link href="{{ url_for('static', filename="style/dashboard.css") }}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  </head>

  <body>
    <nav class="navbar navbar-dark fixed-top flex-md-nowrap p-0 shadow" style = "background-color: #00ffd4;">
      <div class="navbar-brand col-sm-3 col-md-2 mr-0 cloud-drive-text" href="#">
        <img class="mb-1 mr-2" src="../static/images/logo.svg" width="35" height="35">CloudDrive
      </div>
      <form action="/logout" method="post"><button class="btn btn-primary btn-signin-page mr-4 ml-1" id="logoutButton" type="submit">Sign Out</button></form>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 col-lg-2 bg-light sidebar mt-2">
          <div class="sidebar-sticky mt-2">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <span data-feather="home"></span> Files
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-3 ml-sm-auto col-lg-8 px-4 mt-3">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
            <h2 id="path-header" class="h2">Files: </h2>

            <!-- Opperations buttons -->
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button title="Go Back" class="btn btn-sm btn-outline-secondary" id="backButton"> <span data-feather="arrow-left"></span></button>
              </div>
              <div class="btn-group mr-2">
                <button title="Move" class="btn btn-sm btn-outline-secondary" id="moveButton"> <span data-feather="move"></span></button>
                <button title="Rename" class="btn btn-sm btn-outline-secondary" id="renameButton"> <span data-feather="edit-2"></span></button>
                <button title="Delete" class="btn btn-sm btn-outline-secondary" id="deleteButton"> <span data-feather="trash-2"></span></button>
                <button title="Download" class="btn btn-sm btn-outline-secondary" id="downloadButton"> <span data-feather="download-cloud"></span></a></button>
              </div>
            </div>
          </div>

          <!-- Table showing the current directory -->
          <div class="table-responsive">
            <table id="directoryTable" class="table table-striped table-sm files-table">
              <thead id="directoryTableHead">
                <tr>
                  <th>Select</th>
                  <th>Name</th>
                  <th>Date Modified</th>
                  <th>Size</th>
                  <th>Type</th>
                </tr>
              </thead>
              <tbody id="directoryTableBody">

              </tbody>
            </table>
          </div>
        </main>
        <div class="col-lg-2 sidebar-sticky upload-sidebar">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="modal" href="#uploadModal">
                <span data-feather="upload-cloud" id="uploadFileButton"></span> Upload File
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="modal" href="#createFolderModal">
                <span data-feather="folder-plus" id="createFoldereButton"></span> Create Folder
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Upload File Modal -->
    <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModal" aria-hidden="true">
         <div class="modal-dialog" >
           <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">Upload File</h4>
             </div>
             <div class="modal-body">
               <form id="createAccountForm" role="form">
                 <div class="form-group">
                   <label for="newFile">Select File</label>
                   <input type="file" class="form-control" id="newFile" name="file" required multiple>
                 </div>
               </form>
             </div>
           <div class="modal-footer">
             <button id="submitUploadFile" type="button" class="btn btn-primary btn-signin-page">Upload</button>
           </div>
         </div>
       </div>
     </div>

     <!-- Create Folder Modal -->
     <div class="modal fade" id="createFolderModal" tabindex="-1" role="dialog" aria-labelledby="createFolderModal" aria-hidden="true">
          <div class="modal-dialog" >
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Create Folder</h4>
              </div>
              <div class="modal-body">
                <form id="createFolderForm" role="form">
                  <div class="form-group">
                    <label for="newDir">Folder Name</label>
                    <input type="text" class="form-control" id="newDir" required>
                  </div>
                </form>
              </div>
            <div class="modal-footer">
              <button id="submitCreateFolder" type="button" class="btn btn-primary btn-signin-page">Create</button>
            </div>
          </div>
        </div>
      </div>

    <!-- Rename File/Folder Modal -->
    <div class="modal fade" id="renameModal" tabindex="-1" role="dialog" aria-labelledby="renameModal" aria-hidden="true">
         <div class="modal-dialog" >
           <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">Rename Item</h4>
             </div>
             <div class="modal-body">
               <form id="renameItemForm" role="form">
                 <div class="form-group">
                   <label for="newName">New Name</label>
                   <input type="text" class="form-control" id="newName" required>
                 </div>
               </form>
             </div>
           <div class="modal-footer">
             <button id="submitRenameItem" type="button" class="btn btn-primary btn-signin-page">Rename</button>
           </div>
         </div>
       </div>
     </div>

     <!-- Move File/Folder Modal-->
     <div class="modal fade" id="moveModal" tabindex="-1" role="dialog" aria-labelledby="moveModal" aria-hidden="true">
          <div class="modal-dialog" >
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Move Item</h4>
              </div>
              <div class="modal-body">
                <form id="moveItemForm" role="form">
                  <div class="form-group">
                    <label for="newPath">New Path</label>
                    <input type="text" class="form-control" id="newPath" required>
                  </div>
                </form>
              </div>
            <div class="modal-footer">
              <button id="submitMoveItem" type="button" class="btn btn-primary btn-signin-page">Move</button>
            </div>
          </div>
        </div>
      </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{{ url_for('static', filename="bootstrap/js/bootstrap.min.js") }}"></script>
    <script src="{{ url_for('static', filename="scripts/dashboard/upload_file.js") }}"></script>
    <script src="{{ url_for('static', filename="scripts/dashboard/create_folder.js") }}"></script>
    <script src="{{ url_for('static', filename="scripts/dashboard/get_files.js") }}"></script>
    <script src="{{ url_for('static', filename="scripts/dashboard/buttons.js") }}"></script>
    <script src="{{ url_for('static', filename="scripts/FileSaver.min.js") }}"></script>
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
  </body>
</html>