<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CloudDrive</title>

    <link href="{{ url_for('static', filename="bootstrap/css/bootstrap.min.css") }}" rel="stylesheet">
    <link href="{{ url_for('static', filename="style/signin.css") }}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  </head>

  <body class="text-center">
    <div style="width: 100%">
      <button class="btn btn-primary btn-signin-page mt-3 mr-5 float-right" data-toggle="modal" href="#signupModal" id="createAccountButton">Create Account</button>
    </div>
    <form class="form-signin" action="/login" method="post">
      <img class="mb-3" src="../static/images/logo.svg" alt="" width="120" height="120">
      <h1 class="h1 mb-3 font-weight-bold cloud-drive-text">CloudDrive</h1>
      <h1 class="h2 mb-3 font-weight-bold" style="color: #755adc;">Sign in</h1>
      <label for="inputUsername" class="sr-only">Username</label>
      <input type="text" name="username" value="{{request.form.username}}"
        class="form-control" placeholder="Username" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" class="form-control" placeholder="Password" name="password"
        value="{{request.form.password}}" required>
      <input class="btn btn-lg btn-primary btn-block btn-signin-page" type="submit"></input>
    </form>


    <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModal" aria-hidden="true">
         <div class="modal-dialog" >
           <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">Create Account</h4>
             </div>
             <div class="modal-body">
               <form id="createAccountForm" role="form">
                 <div class="form-group">
                   <label for="newUsername">Username</label>
                   <input type="text" class="form-control" id="newUsername" name="newUsername" required>
                 </div>
                 <div class="form-group">
                   <label for="newEmail">Email Address</label>
                   <input type="email" class="form-control" id="newEmail" name="newEmail" required>
                 </div>
                 <div class="form-group">
                   <label for="newPassword">Password</label>
                   <input type="password" class="form-control" id="newPassword" name="newPassword" required>
                 </div>
                 <div class="form-group">
                   <label for="confirmNewPassword">Confirm Password</label>
                   <input type="password" class="form-control" id="confirmNewPassword" name="confirmNewPassword" required>
                 </div>
               </form>
               <a id="signUpMessage"></a>
             </div>
           <div class="modal-footer">
             <button id="signup" type="button" class="btn btn-primary btn-signin-page" action="/lol" method="get">Sign Up</button>
           </div>
         </div>
       </div>
     </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{{ url_for('static', filename="bootstrap/js/bootstrap.min.js") }}"></script>
    <script src="{{ url_for('static', filename="scripts/signin.js") }}"></script>
  </body>
</html>